@font-face{
    font-family: "LoRes";
    src: url('Lo-Res/Lo-Res 12 Bold Alt.ttf'),
}
* {
  margin:0;
  padding:0;
  overflow: hidden;
}
.loading {
  position: absolute;
  float: left;
  width: 1440px;
  height: 800px;
  z-index: 2;
  border: none;
  transform: scale(1.06);
  filter: grayscale(100%) contrast(180%);
}

#container {
    margin:0;
    padding:0;
    height: auto;
    width: 1440px;
}
#video {
  margin: 0;
  padding: 0;
  width: 1440px;
  filter: grayscale(100%) contrast(180%);
}
#motion {
  margin: 0;
  padding: 0;
  width: 1440px;
  filter: grayscale(100%) contrast(300%);
  transform: scaleX(-1);
}
canvas {
    image-rendering: pixelated;
}
.LOGO {
  position: fixed;
  z-index: 1;
  margin: 25px;
  width: 350px;
}
.POLARIS {
  position: relative;
  float: left;
}
.BUTTON {
  position: relative;
  float: left;
  margin-top: 100px;
}
.Content{
  position: fixed;
  z-index: 1;
  left: 450px;
  width: 690px;
  }

.CONCERNSBUTTON {
  position: absolute;
  top: 550px;
  float: right;
  width: 350px;
  height: 60px;
  z-index: 2;
}
.PRIVATEBUTTON {
  position: absolute;
  top: 675px;
  float: right;
  width: 350px;
  height: 75px;
  z-index: 2;
}

.CONCERNS {
  position: relative;
  width: 690px;
  height: 800px;
  float: left;
}

.PRIVATE {
  position: relative;
  width: 690px;
  height: 800px;
  float: left;
}
