@font-face{
    font-family: "LoRes";
    src: url('Lo-Res/Lo-Res 12 Bold Alt.ttf'),
}
* {
  margin:0;
  padding:0;
  overflow: hidden;
}
#container {
    margin:0;
    padding:0;
    height: auto;
    width: 1440px;
}
#video {
  margin: 0;
  padding: 0;
  width: 1440px;
  filter: grayscale(100%) contrast(180%);
}
#motion {
  margin: 0;
  padding: 0;
  width: 1440px;
  filter: grayscale(100%) contrast(180%);
  transform: scaleX(-1);
}
canvas {
    image-rendering: pixelated;
}
.LOGO {
  position: fixed;
  z-index: 1;
  margin: 25px;
  width: 1390px;
}
.POLARIS {
  position: relative;
  float: left;
}
.BUTTON {
  position: relative;
  float: right;
}

.CONCERNSBUTTON {
  position: absolute;
  margin-left: 130vh;
  float: right;
  width: 350px;
  height: 100px;
  margin-top: 125px;
  z-index: 2;
}
.PRIVATEBUTTON {
  position: absolute;
  margin-left: 130vh;
  float: right;
  width: 350px;
  height: 100px;
  margin-top: 250px;
  z-index: 2;
}

.CONCERNS {
  position: relative;
  width: 690px;
  height: 800px;
  float: left;
}

.PRIVATE {
  position: relative;
  width: 690px;
  height: 800px;
  float: left;
}
